solutions/ContosoFlows/src/Workflows/RemoverelatedKAarticles-7574061E-103E-ED11-BBA2-000D3A8563CF.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "con_sharedcommondataserviceforapps_b7d8f"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "1eb420b6-4198-4081-a90b-a997dca83f64"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "knowledgearticle",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statuscode",
              "subscriptionRequest/filterexpression": "statuscode eq 12 or statuscode eq 13 or statuscode eq 10"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8a0e3352-b65f-4eac-a368-3a40666ac9cc"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "connections",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"connection\">\n    <attribute name=\"record2id\" />\n    <attribute name=\"record2roleid\" />\n    <attribute name=\"connectionid\" />\n    <order attribute=\"record2id\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"record2roleid\" operator=\"eq\" uiname=\"Related Article\" uitype=\"connectionrole\" value=\"{CFFE4A59-CE11-4FCA-B132-5985D3917D26}\" />\n    </filter>\n    <link-entity name=\"knowledgearticle\" from=\"knowledgearticleid\" to=\"record2id\" link-type=\"inner\" alias=\"ab\">\n      <filter type=\"and\">\n        <condition attribute=\"statuscode\" operator=\"in\">\n          <value>12</value>\n          <value>13</value>\n          <value>10</value>\n        </condition>\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Delete_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2c2b7218-3f8d-4ffc-9852-1836615aa863"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "DeleteRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "connections",
                  "recordId": "@items('Apply_to_each')?['connectionid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4527d3fd-b90d-4fdd-ba44-758e5b57e964"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}