solutions/ContosoFlows/src/Workflows/Removeappsandflowsdailyfromdefaultenvironment-A02D548D-D51F-EE11-9966-6045BD57C824.json
{
  "properties": {
    "connectionReferences": {
      "shared_powerappsforadmins": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAppsAdmin"
        },
        "api": {
          "name": "shared_powerappsforadmins"
        }
      },
      "shared_flowmanagement": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAutomateManagement"
        },
        "api": {
          "name": "shared_flowmanagement"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "con_sharedcommondataserviceforapps_b7d8f"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2023-07-11T12:00:00Z"
          },
          "metadata": {
            "operationMetadataId": "e5bd8de2-d366-4953-bd9d-c7242aa6e579"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Compose_-_Environment_Name": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2c0b9835-55bd-4734-80af-a5c11adf92c1"
          },
          "type": "Compose",
          "inputs": "default-1557f771-4c8e-4dbd-8b80-dd00a88e833e"
        },
        "Get_Apps_as_Admin": {
          "runAfter": {
            "Compose_-_Environment_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "63df6e6a-61ec-4054-a9df-7c96c8cc04cc"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_powerappsforadmins",
              "operationId": "Get-AdminApps",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
            },
            "parameters": {
              "environment": "@outputs('Compose_-_Environment_Name')",
              "api-version": "2016-11-01",
              "$top": 250
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Filter_array_-_Get_Apps_starting_with_gfu": {
          "runAfter": {
            "Select_-_Columns_for_Apps": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f3a788be-c268-47fb-afdf-82d807b58aa8"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('Select_-_Columns_for_Apps')",
            "where": "@startsWith(item()['PowerAppName'], 'gfu')"
          }
        },
        "List_Flows_as_Admin_(V2)": {
          "runAfter": {
            "Filter_array_-_Get_Apps_starting_with_gfu": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "91a8a970-d922-4c62-a287-5b9f99976122"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_flowmanagement",
              "operationId": "ListFlowsInEnvironment_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
            },
            "parameters": {
              "environmentName": "Default-1557f771-4c8e-4dbd-8b80-dd00a88e833e"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Filter_array_-_List_Flows_starting_with_gfu": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "31d23667-3373-4601-ad7b-554b6b59a65b"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('Select_-_Columns_for_Flows')",
            "where": "@startsWith(item()?['FlowName'], 'gfu')"
          }
        },
        "Select_-_Columns_for_Apps": {
          "runAfter": {
            "Get_Apps_as_Admin": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1bdc1cf3-b30a-4c44-9de9-fd448da69962"
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('Get_Apps_as_Admin')?['body/value']",
            "select": {
              "PowerAppName": "@item()?['properties/displayName']",
              "Creator": "@item()?['properties/createdBy/displayName']",
              "AppID": "@item()?['name']",
              "LastModified": "@item()?['properties/lastModifiedTime']"
            }
          }
        },
        "Select_-_Columns_for_Flows": {
          "runAfter": {
            "List_Flows_as_Admin_(V2)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "17c8b328-d712-4948-b9be-ac2fd57bc590"
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('List_Flows_as_Admin_(V2)')?['body/value']",
            "select": {
              "FlowID": "@item()?['name']",
              "FlowName": "@item()?['properties/displayName']",
              "LastModified": "@item()?['properties/lastModifiedTime']"
            }
          }
        },
        "List_rows": {
          "runAfter": {
            "Select_-_Columns_for_Flows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "94b17742-2a05-4e7d-8838-ea2e2ff5a794"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "workflows",
              "$select": "name,createdon,_ownerid_value",
              "$filter": "category eq 5"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}