solutions/ContosoFlows/src/Workflows/Removeapporflow-B1785D06-C51F-EE11-9CBD-6045BD57C81B.json
{
  "properties": {
    "connectionReferences": {
      "shared_flowmanagement_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "ms_sharedflowmanagement_477f9"
        },
        "api": {
          "name": "shared_flowmanagement"
        }
      },
      "shared_powerappsforadmins_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "ms_sharedpowerappsforadmins_ef463"
        },
        "api": {
          "name": "shared_powerappsforadmins"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "ee24407c-d083-4b73-a667-a528287569fb"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_Flows_as_Admin_(V2)": {
          "runAfter": {
            "Get_Apps_as_Admin_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2ee63e3b-00a6-41a3-b4b6-a819a877a2bb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_flowmanagement_1",
              "operationId": "ListFlowsInEnvironment_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
            },
            "parameters": {
              "environmentName": "10195613-f7d0-4d8e-bc74-f8f6bf1fe7d4"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 5000
            }
          }
        },
        "Compose_2": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "04ccfa42-966d-4bc2-965c-f93bd5d17152"
          },
          "type": "Compose",
          "inputs": "@body('Get_Apps_as_Admin_2')"
        },
        "Get_Apps_as_Admin": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d4b9e3cb-bcd4-40c1-81a9-5790fdd6728f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_powerappsforadmins_1",
              "operationId": "Get-AdminApps",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
            },
            "parameters": {
              "environment": "default-1557f771-4c8e-4dbd-8b80-dd00a88e833e",
              "api-version": "2016-11-01",
              "$top": 10
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Get_Apps_as_Admin_2": {
          "runAfter": {
            "Get_Apps_as_Admin": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d229579f-da5f-43e0-9ce3-4538d7e8071e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_powerappsforadmins_1",
              "operationId": "Get-AdminApps",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
            },
            "parameters": {
              "environment": "default-1557f771-4c8e-4dbd-8b80-dd00a88e833e",
              "api-version": "2016-11-01",
              "$skiptoken": "@split(outputs('Get_Apps_as_Admin')?['body/nextLink'],'%24skiptoken=')[1]",
              "$top": 250
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Compose": {
          "runAfter": {
            "Compose_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e4dfe63-3276-4d9f-bd3d-c05d7324f6b3"
          },
          "type": "Compose",
          "inputs": "@body('List_Flows_as_Admin_(V2)')"
        },
        "Apply_to_each": {
          "foreach": "@body('List_Flows_as_Admin_(V2)')",
          "actions": {
            "Compose_3": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "835d0d9c-9507-4378-add4-2b60717718c9"
              },
              "type": "Compose",
              "inputs": "@body('List_Flows_as_Admin_(V2)')"
            }
          },
          "runAfter": {
            "List_Flows_as_Admin_(V2)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9e6559ea-bdf9-4fcd-b17c-9bd231204bdf"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}