solutions/ContosoFlows/src/Workflows/SyncActivityLogs-6C046367-7C8A-EE11-BE36-6045BD57C6BD.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ms_sharedcommondataserviceforapps_056ad"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ms_sharedsharepointonline_bb440"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "O365 API Audience (ms_O365APIAudience)": {
          "defaultValue": "https://manage.office.com",
          "type": "String",
          "metadata": {
            "schemaName": "ms_O365APIAudience"
          }
        },
        "O365 API Client ID (ms_O365APIClientID)": {
          "defaultValue": "b5b1f32d-23c7-4be8-a1e4-e8f83b23e203",
          "type": "String",
          "metadata": {
            "schemaName": "ms_O365APIClientID"
          }
        },
        "O365 API Tenant ID (ms_O365APITenantID)": {
          "defaultValue": "1557f771-4c8e-4dbd-8b80-dd00a88e833e",
          "type": "String",
          "metadata": {
            "schemaName": "ms_O365APITenantID"
          }
        },
        "O365 API Authority (ms_O365APIAuthority)": {
          "defaultValue": "https://login.windows.net",
          "type": "String",
          "metadata": {
            "schemaName": "ms_O365APIAuthority"
          }
        },
        "O365 API Client Secret (ms_O365APIClientSecret)": {
          "defaultValue": "6H38Q~7S8qEoEAtDx6n48KI6wwRi.KT76Cqr0cNJ",
          "type": "String",
          "metadata": {
            "schemaName": "ms_O365APIClientSecret"
          }
        }
      },
      "triggers": {
        "Recurrence_-_Hourly": {
          "recurrence": {
            "frequency": "Hour",
            "interval": 1,
            "timeZone": "UTC"
          },
          "metadata": {
            "operationMetadataId": "c57b3019-e6b7-4d82-865d-65963b1b2797"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Initialize_variable_-_ContentIDs": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "16cef767-8bb6-4311-ac68-aa306e2429b0"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ContentIDs",
                "type": "array",
                "value": "@null"
              }
            ]
          }
        },
        "Initialize_variable_-_ActivityLogs": {
          "runAfter": {
            "Initialize_variable_-_ContentIDs": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "45e51f91-0dcd-49bb-9907-077a4e0dd6e3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ActivityLogs",
                "type": "array",
                "value": "@null"
              }
            ]
          }
        },
        "Initialize_variable_-_NextPageUri": {
          "runAfter": {
            "Initialize_variable_-_ActivityLogs": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b2150a3-87fa-4c0b-9cc2-712e0979908a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NextPageUri",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_variable_-_NextPageParam": {
          "runAfter": {
            "Initialize_variable_-_NextPageUri": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a1edbfa-bb8d-472b-965f-43dff948d675"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NextPageParam",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Compose_-_startTime_-_utcNow_minus_65_minutes": {
          "runAfter": {
            "Initialize_variable_-_NextPageParam": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cb157133-33ac-4624-9dd5-2bccca546afd"
          },
          "type": "Compose",
          "inputs": "@formatDateTime(addMinutes(utcNow(), -65), 'yyyy-MM-ddTHH:mm:ss.0000000Z')",
          "description": "formatDateTime(addMinutes(utcNow(), -65), 'yyyy-MM-ddTHH:mm:ss.0000000Z')"
        },
        "Compose_-_endTime_-utcNow": {
          "runAfter": {
            "Compose_-_startTime_-_utcNow_minus_65_minutes": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4942d85f-2da9-46fc-8b4a-9bad3418155d"
          },
          "type": "Compose",
          "inputs": "@formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ss.0000000Z')",
          "description": " formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ss.0000000Z')"
        },
        "Do_until": {
          "actions": {
            "HTTP_-_Get_Content_Blobs": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d2bcb675-133f-4fda-ac52-ef91552c672e"
              },
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@{parameters('O365 API Audience (ms_O365APIAudience)')}/api/v1.0/@{parameters('O365 API Tenant ID (ms_O365APITenantID)')}/activity/feed/subscriptions/content",
                "headers": {
                  "Content-Type": "application/json"
                },
                "queries": {
                  "contentType": "Audit.General",
                  "PublisherIdentifier": "@parameters('O365 API Tenant ID (ms_O365APITenantID)')",
                  "startTime": "@{outputs('Compose_-_startTime_-_utcNow_minus_65_minutes')}",
                  "endTime": "@{outputs('Compose_-_endTime_-utcNow')}",
                  "nextpage": "@variables('NextPageParam')"
                },
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "authority": "@parameters('O365 API Authority (ms_O365APIAuthority)')",
                  "tenant": "@parameters('O365 API Tenant ID (ms_O365APITenantID)')",
                  "audience": "@parameters('O365 API Audience (ms_O365APIAudience)')",
                  "clientId": "@parameters('O365 API Client ID (ms_O365APIClientID)')",
                  "secret": "@parameters('O365 API Client Secret (ms_O365APIClientSecret)')"
                }
              }
            },
            "Parse_JSON_-_Header": {
              "runAfter": {
                "HTTP_-_Get_Content_Blobs": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1c55aff0-4454-4aa2-98e4-114693d94489"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('HTTP_-_Get_Content_Blobs')['headers']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "headers": {
                      "type": "object",
                      "properties": {
                        "Pragma": {
                          "type": "string"
                        },
                        "NextPageUri": {
                          "type": "string"
                        },
                        "Cache-Control": {
                          "type": "string"
                        },
                        "Date": {
                          "type": "string"
                        },
                        "Server": {
                          "type": "string"
                        },
                        "X-AspNet-Version": {
                          "type": "string"
                        },
                        "X-Powered-By": {
                          "type": "string"
                        },
                        "Content-Length": {
                          "type": "string"
                        },
                        "Content-Type": {
                          "type": "string"
                        },
                        "Expires": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "Parse_JSON_-_Body": {
              "runAfter": {
                "Parse_JSON_-_Header": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "01e63805-5c98-42cf-a763-2d87cfe4eac4"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_-_Get_Content_Blobs')",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "contentUri": {
                        "type": "string"
                      },
                      "contentId": {
                        "type": "string"
                      },
                      "contentType": {
                        "type": "string"
                      },
                      "contentCreated": {
                        "type": "string"
                      },
                      "contentExpiration": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "contentUri",
                      "contentId",
                      "contentType",
                      "contentCreated",
                      "contentExpiration"
                    ]
                  }
                }
              }
            },
            "Select_-_ContentIDs": {
              "runAfter": {
                "Parse_JSON_-_Body": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7775b98f-6546-40dc-a082-0f9511143e7e"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Parse_JSON_-_Body')",
                "select": {
                  "ContentID": "@item()?['contentId']"
                }
              }
            },
            "Apply_to_each_-_ContentID": {
              "foreach": "@body('Select_-_ContentIDs')",
              "actions": {
                "Append_to_array_variable_-_ContentIDs": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c4a65423-24ab-4b37-877d-53648e3952f0"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "ContentIDs",
                    "value": "@items('Apply_to_each_-_ContentID')"
                  }
                }
              },
              "runAfter": {
                "Select_-_ContentIDs": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3dc8499b-a1fe-41a7-b982-ef0563dc2569"
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              }
            },
            "Condition_-_Does_NextPageUri_Exist": {
              "actions": {
                "Set_variable_-_NextPageUri": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "44bf23f1-48f8-438d-a004-60df9ecf658d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "NextPageUri",
                    "value": "@{body('Parse_JSON_-_Header')?['NextPageUri']}"
                  }
                },
                "Compose_-_QueryString": {
                  "runAfter": {
                    "Set_variable_-_NextPageUri": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "16ab0dcf-f620-4a8c-9c35-0c19c0241deb"
                  },
                  "type": "Compose",
                  "inputs": "@uriQuery(variables('NextPageUri'))"
                },
                "Set_variable_-_NextPageParam": {
                  "runAfter": {
                    "Compose_-_QueryString": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "362f3cd6-5219-40b8-bf7d-706af4eda8da"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "NextPageParam",
                    "value": "@{substring(outputs('Compose_-_QueryString'), add(indexOf(outputs('Compose_-_QueryString'), 'nextpage'), 9))}"
                  }
                }
              },
              "runAfter": {
                "Apply_to_each_-_ContentID": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_variable_-_NextPageUri_to_null": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "8a68d977-77a0-418d-864b-3353840e796d"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "NextPageUri",
                      "value": "@{null}"
                    }
                  }
                }
              },
              "expression": {
                "contains": [
                  "@body('Parse_JSON_-_Header')",
                  "NextPageUri"
                ]
              },
              "metadata": {
                "operationMetadataId": "4ac61548-f59a-4bc5-bc4b-2802137c79a7"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable_-_CRLF": [
              "Succeeded"
            ]
          },
          "expression": "@less(length(variables('NextPageUri')), 1)",
          "limit": {
            "count": 60,
            "timeout": "PT1H"
          },
          "metadata": {
            "operationMetadataId": "a8d24384-6023-41ea-81c2-a5a6e9f8e01d"
          },
          "type": "Until",
          "description": "length(variables('NextPageUri'))"
        },
        "List_rows_-_Get_all_environments": {
          "runAfter": {
            "Do_until": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "618789d5-d237-44f3-81b0-7fda7736939c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-2",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ms_auditenvironments",
              "$select": "ms_name,ms_sharepointdocumentlibrary,ms_sharepointsite"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_-_Environment": {
          "foreach": "@outputs('List_rows_-_Get_all_environments')?['body/value']",
          "actions": {
            "Apply_to_each_-_Get_Content_Blob": {
              "foreach": "@variables('ContentIDs')",
              "actions": {
                "HTTP_-_Get_Content_Blob": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a3fb1b9c-6f9a-435c-9063-c528cdb3d6e2"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "@{parameters('O365 API Audience (ms_O365APIAudience)')}/api/v1.0/@{parameters('O365 API Tenant ID (ms_O365APITenantID)')}/activity/feed/audit/@{items('Apply_to_each_-_Get_Content_Blob')?['contentId']}",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "authority": "@parameters('O365 API Authority (ms_O365APIAuthority)')",
                      "tenant": "@parameters('O365 API Tenant ID (ms_O365APITenantID)')",
                      "audience": "@parameters('O365 API Audience (ms_O365APIAudience)')",
                      "clientId": "@parameters('O365 API Client ID (ms_O365APIClientID)')",
                      "secret": "@parameters('O365 API Client Secret (ms_O365APIClientSecret)')"
                    }
                  }
                },
                "Filter_array_-_D365_Events": {
                  "runAfter": {
                    "HTTP_-_Get_Content_Blob": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2fdc11e8-e507-47f9-a872-5bd5fd66d5c1"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@\r\njson(body('HTTP_-_Get_Content_Blob'))",
                    "where": "@equals(item()?['RecordType'], 21)"
                  },
                  "description": "json(body('HTTP_-_Get_Content_Blob'))"
                },
                "Filter_array_-_Environment_Activity_Logs": {
                  "runAfter": {
                    "Filter_array_-_D365_Events": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8420e399-b3b5-41ce-87a3-c391b73de70a"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Filter_array_-_D365_Events')",
                    "where": "@equals(item()?['InstanceUrl'], items('Apply_to_each_-_Environment')?['ms_name'])"
                  }
                },
                "Compose_-_Get_file_content": {
                  "runAfter": {
                    "Filter_array_-_Environment_Activity_Logs": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ef43779a-6854-490f-9a62-72a90ddbfa5f"
                  },
                  "type": "Compose",
                  "inputs": "@skip(split(base64ToString(body('Get_file_content_using_path')?['$content']),variables('CRLF')),1)"
                },
                "Create_CSV_table": {
                  "runAfter": {
                    "Compose_-_Get_file_content": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "eff47810-bb2b-4224-bdd8-dde40eb2dd39"
                  },
                  "type": "Table",
                  "inputs": {
                    "from": "@body('Filter_array_-_Environment_Activity_Logs')",
                    "format": "CSV"
                  }
                },
                "Update_file": {
                  "runAfter": {
                    "Compose_-_combine_content": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4bfea8d1-3135-4a51-b10d-99cfa7c2278f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "UpdateFile",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "@items('Apply_to_each_-_Environment')?['ms_sharepointsite']",
                      "id": "@outputs('Get_file_metadata')?['body/Id']",
                      "body": "@outputs('Compose_-_combine_content')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Compose_-_combine_content": {
                  "runAfter": {
                    "Create_CSV_table": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "48373dc1-8049-4263-8036-5e80c88eac05"
                  },
                  "type": "Compose",
                  "inputs": "@concat(body('Create_CSV_table'),join(outputs('Compose_-_Get_file_content'),variables('CRLF')))"
                }
              },
              "runAfter": {
                "Get_file_content_using_path": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3a830f10-a1a9-4818-b0de-66783d7c0584"
              },
              "type": "Foreach"
            },
            "Create_file_-_headers": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3375b915-eb08-440f-83b6-5eac86afb4dc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@items('Apply_to_each_-_Environment')?['ms_sharepointsite']",
                  "folderPath": "@items('Apply_to_each_-_Environment')?['ms_sharepointdocumentlibrary']",
                  "name": "@{items('Apply_to_each_-_Environment')?['ms_sharepointdocumentlibrary']}_@{formatDateTime(utcNow(), 'yyyy-MM-dd_hh')}.csv",
                  "body": "@outputs('Compose_-_csv_file_header')"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Get_file_metadata": {
              "runAfter": {
                "Create_file_-_headers": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "caec980e-5793-4076-93c9-02f3c9d87c5a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "GetFileMetadata",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@items('Apply_to_each_-_Environment')?['ms_sharepointsite']",
                  "id": "@outputs('Create_file_-_headers')?['body/Id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_file_content_using_path": {
              "runAfter": {
                "Get_file_metadata": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7ec5ed7b-90bd-42ae-9172-b8ce7df826f1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "GetFileContentByPath",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@items('Apply_to_each_-_Environment')?['ms_sharepointsite']",
                  "path": "@outputs('Get_file_metadata')?['body/Path']",
                  "inferContentType": true
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_rows_-_Get_all_environments": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ff6df96d-0852-4b98-b348-640310934247"
          },
          "type": "Foreach"
        },
        "Compose_-_csv_file_header": {
          "runAfter": {
            "Compose_-_endTime_-utcNow": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "753120b7-f9e0-4cfe-8869-63e24b6a8e51"
          },
          "type": "Compose",
          "inputs": "CreationTime,Id,Operation,OrganizationId,RecordType,ResultStatus,UserKey,UserType,Version,Workload,ClientIP,ObjectId,UserId,CrmOrganizationUniqueName,Fields,InstanceUrl,ItemType,ItemUrl,UserAgent,CorrelationId,EntityId,EntityName,Message,PrimaryFieldValue,Query,QueryResults,ServiceContextId,ServiceContextIdType,ServiceName,SystemUserId,UserUpn"
        },
        "Initialize_variable_-_CRLF": {
          "runAfter": {
            "Compose_-_csv_file_header": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "361b78a3-fd07-422e-b0c2-4c14bb929765"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CRLF",
                "type": "string",
                "value": "@{uriComponentToString('%0D%0A')}"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}